body {
  background-color: rgba(63, 63, 63, 0.815);
  overflow-x: hidden;
}
.btn-secondary {
  visibility: hidden;
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
.btn-secondary:hover {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.no-pad {
  padding: 0;
}
.content {
  padding: 20px 80px;
  color: rgba(255, 255, 255, 0.747);
}
.contentB {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 18px;
  padding: 20px 80px;
  background: rgba(78, 78, 78, 0.411);
  color: white;
}
.top-margin {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 50px;
}
.bottom-margin {
  margin-bottom: 50px;
}
.img-thumbnail {
  transition: width .8s;
}
.img-thumbnail:hover {
  width: 95%;
}
h2, .nameTag {
  cursor: default;
  margin: auto;
}
span:before{
  content:" "; 
  display:inline-block; 
  width:32px;
}
.header {
  font-size: 1vw;
  margin: auto;
  background-color: rgba(0, 255, 255, 0.493);
  position: fixed;
  width: 110%;
  top: 0;
  z-index: 1;
}
.img-thumbnail{
  width: 80%;
  margin: 15px;
}
.lg-icon {
  padding-top: 6px;
  font-size: 36px;  
}
.navImage {
  width: 100%;
}
.nameTag {
  margin: 0;
  width: 100%;
  font-size: 20px; 
  font-family: Georgia, serif;
  text-align: center;
  background-color: rgba(0, 255, 255, 0.493);
}
.sidenav a {
  padding: 6px 6px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  color: rgb(124, 124, 124);
  display: block;
}
.sidenav a:hover {
  color: rgb(241, 241, 241);
}
a {
  color: black;
}
a:hover {
  font-weight: bold;
  color: gray;
}

/*--------------------*/
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-left: 5px;
}
.page-content-wrapper {
  position: relative;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
@media(max-width:720px) {
  .nameTag {
  font-size: 14px; 
  }
  .btn-secondary {
  visibility: visible;
  }  
  .page-content-wrapper {
  margin: 0;
  width: 100%;
  position: absolute;

  }
  #sidebar-wrapper {
  width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
  position: fixed;
  width: 250px;
  }  
  #wrapper.toggled .page-content-wrapper {
  position: relative;
  margin-right: 0;
  margin-left: 23%;
  }  
}